.topBar {

    -fx-background-color: #4D4D4D;
    -fx-height: 100;

}

Text, CheckBox {

    -fx-fill: #E0E0E0;

}

BorderPane {

    -fx-background-color: #1A1A1A;

}

ListView {

    -fx-background-color: #4D4D4D;

}

.closeButton:hover {

    /*-fx-shape: "M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z";
    /*-fx-shape: "M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z";
    */-fx-background-color: #EB4949;
    -fx-cursor: hand;


}

.generalButton:hover {

    /*-fx-shape: "M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z";
    /*-fx-shape: "M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z";
    */
    -fx-background-color: #D07A00;
    -fx-cursor: hand;


}

.closeButtonX {

    -fx-shape: "M380.219 453.655C385.922 460.405 385.079 470.5 378.329 476.219C375.329 478.75 371.657 480 368.016 480C363.469 480 358.954 478.062 355.782 474.343L192 280.772L28.218 474.343C25.046 478.062 20.531 480 15.984 480C12.343 480 8.671 478.75 5.671 476.219C-1.079 470.5 -1.922 460.405 3.781 453.655L171.029 255.99L3.781 58.324C-1.922 51.574 -1.079 41.479 5.671 35.76C12.421 30.073 22.5 30.948 28.218 37.636L192 231.207L355.782 37.636C361.485 30.948 371.579 30.073 378.329 35.76C385.079 41.479 385.922 51.574 380.219 58.324L212.971 255.99L380.219 453.655Z";
    -fx-background-color: #E0E0E0;

}

.closeButtonSquare {

    -fx-shape: "M384 32H64C28.654 32 0 60.654 0 96V416C0 451.346 28.654 480 64 480H384C419.346 480 448 451.346 448 416V96C448 60.654 419.346 32 384 32ZM416 416C416 433.645 401.645 448 384 448H64C46.355 448 32 433.645 32 416V96C32 78.355 46.355 64 64 64H384C401.645 64 416 78.355 416 96V416Z";
    -fx-background-color: #E0E0E0;

}

.buttonMin {

    -fx-shape: "M432 256C432 264.844 424.844 272 416 272H32C23.156 272 16 264.844 16 256S23.156 240 32 240H416C424.844 240 432 247.156 432 256Z";
    -fx-background-color: #E0E0E0;

}

.buttonArrowUpRight {

    -fx-shape: "M352 111.906V335.25C352 344.094 344.844 351.25 336 351.25S320 344.094 320 335.25V150.625L59.312 411.312C56.188 414.438 52.094 416 48 416S39.812 414.438 36.688 411.312C30.438 405.062 30.438 394.937 36.688 388.688L297.568 127.805L111.953 127.25C103.109 127.219 95.969 120.031 96 111.219C96.031 102.375 103.188 95.25 112 95.25H112.047L336.047 95.906C344.859 95.938 352 103.094 352 111.906Z";
    -fx-background-color: #E0E0E0;

}

.buttonArrowDownLeft {

    -fx-shape: "M347.312 122.562L86.432 383.445L272.047 384C280.891 384.031 288.031 391.219 288 400.031C287.969 408.875 280.812 416 272 416H271.953L47.953 415.344C39.141 415.312 32 408.156 32 399.344V176C32 167.156 39.156 160 48 160S64 167.156 64 176V360.625L324.688 99.937C330.938 93.687 341.063 93.687 347.312 99.937S353.562 116.312 347.312 122.562Z";
    -fx-background-color: #E0E0E0;

}

.magnifyingGlass {

    -fx-shape: "M507.312 484.688L365.85 343.227C397.041 306.848 416 259.676 416 208C416 93.125 322.875 0 208 0S0 93.125 0 208S93.125 416 208 416C259.676 416 306.848 397.039 343.225 365.852L484.687 507.312C487.812 510.438 491.906 512 496 512S504.188 510.438 507.312 507.312C513.562 501.062 513.562 490.938 507.312 484.688ZM208 384C110.953 384 32 305.047 32 208S110.953 32 208 32S384 110.953 384 208S305.047 384 208 384Z";
    -fx-background-color: #E0E0E0;

}

/*.buttonMin {*/

/*    -fx-shape: "M204.235 50.469C192.235 45.5 178.547 48.219 169.375 57.406L124.702 102.078L43.311 20.688C37.063 14.438 26.934 14.438 20.686 20.688C14.438 26.934 14.438 37.063 20.686 43.312L102.073 124.695L57.391 169.375C51.266 175.531 48.016 183.656 48.016 191.969C48.016 196.094 48.829 200.281 50.469 204.25C55.454 216.25 67.047 224 80.032 224H192C209.674 224 224 209.672 224 192V80.031C224 67.031 216.235 55.438 204.235 50.469ZM192 192H80.032L191.985 79.875C191.985 79.875 192 79.938 192 80.031V192ZM320 224H431.969C444.969 224 456.563 216.234 461.532 204.234S463.782 178.547 454.594 169.375L409.922 124.703L491.315 43.312C497.563 37.062 497.563 26.934 491.315 20.688C485.067 14.438 474.938 14.438 468.69 20.688L387.305 102.07L342.625 57.391C336.469 51.266 328.344 48.016 320.032 48.016C315.907 48.016 311.719 48.828 307.75 50.469C295.75 55.453 288 67.047 288 80.031V192C288 209.672 302.327 224 320 224ZM320 80.031L432.125 191.984C432.125 191.984 432.063 192 431.969 192H320V80.031ZM409.928 387.305L454.61 342.625C460.735 336.469 463.985 328.344 463.985 320.031C463.985 315.906 463.172 311.719 461.532 307.75C456.547 295.75 444.954 288 431.969 288H320C302.327 288 288 302.328 288 320V431.969C288 444.969 295.766 456.562 307.766 461.531S333.454 463.781 342.625 454.594L387.299 409.922L468.69 491.312C474.938 497.562 485.067 497.562 491.315 491.312C497.563 485.066 497.563 474.937 491.315 468.687L409.928 387.305ZM320.016 432.125C320.016 432.125 320 432.062 320 431.969V320H431.969L320.016 432.125ZM192 288H80.032C67.032 288 55.438 295.766 50.469 307.766S48.219 333.453 57.407 342.625L102.079 387.297L20.686 468.688C14.438 474.938 14.438 485.066 20.686 491.312C26.934 497.562 37.063 497.562 43.311 491.312L124.696 409.93L169.375 454.609C175.532 460.734 183.657 463.984 191.969 463.984C196.094 463.984 200.282 463.172 204.25 461.531C216.25 456.547 224 444.953 224 431.969V320C224 302.328 209.674 288 192 288ZM192 431.969L79.875 320.016C79.875 320.016 79.938 320 80.032 320H192V431.969Z";*/
/*    -fx-background-color: #E0E0E0;*/

/*}*/

